/*
* @author Pilvi Rajala (piraj)
*/

html {
  background-image: url('../resources/landscape.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

html, body {
  /*padding: 0;
  margin: 0;*/
  height: 100%;
}

main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* The countdown timer */
#countdown-div {
  text-align: center;
  /*margin-top: 25px;*/
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  /* Center div horizontally and vertically */

}

.countdown-item {
  text-align: center;

  display: inline-block;
  width: 150px;
  height: 150px;
  padding: 10px;
  margin: 8px;

  background: rgba(175,102,102,0.5); /* rgba(153,102,102,0.5); rgba(200,12,50,0.5);*/

  color: white;
  border-radius: 50%;
  font-family: 'Amatic SC', cursive;

}

.countdown-number { /* Span where countdown numbers are placed */
  display: inline-block;
  line-height: 60px;
  padding-top: 25px;
  font-size: 50px;
  text-align: center;
  font-weight: bolder;
}

.time-unit {
  font-size: 23px;
}

#olympic-results {
  font-size: 20px;
}
